/* your styles go here */

#vidyayan{

    text-decoration: none;
    cursor: pointer;
    color:#f17c1d; font-weight: bold;
}

.parallax {
    /* The image used */
    background-image: url("imgparallax.jpg");

    /*Photo by <a href="https://unsplash.com/@tpptech?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hung Do</a> on <a href="https://unsplash.com/s/photos/coders?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  */
  
    /* Set a specific height */
    height: 300px; 
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
   
    background-repeat: no-repeat;
 
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  

.parallax-container .section {
    width: 100%;
}
.section.no-pad-bot {
    padding-bottom: 0;
}
.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}



#eligibility {
    background-color:  #EF6F00;
    background: linear-gradient(
0deg
, rgb(244, 100, 31) 0%,  #EF6F00 100%);
    position: relative;
    overflow: hidden;
    z-index: -1;
    width: 100%;
}
section {
    padding: 120px 0;
}